

html, body{
    height:100%;
    width:100%;
    

    margin: 0;
    padding: 0;
}
header{
    text-align: center;
}

#nav{
    width:100%;
    
    display: inline-block;
}
ul{
    
    text-transform: uppercase;

    list-style-type:none;
    
    margin: 0;
    padding: 0;
}

/*#nav > li{*/
    
/*    padding: 1em;*/
/*}*/

ul > li > a{
    text-decoration:none;
    color:black;
    
}

li{
    display: inline-block;
    
    
    font-family: Lato, sans-serif;
    font-size: .8em;
    font-weight: bold;
    
    padding: 1em;
}
li:hover{
    background-color: gold;
    
    padding: 1em;
}

#signup{
    background-color: gold;
    color: maroon;
    
}
#signup_a{
    color: maroon;
}
#owl{
    
    width: 45vw;
    height: 45vh;
}

main{
    width:100%;
    
    background-color: maroon;
    
    text-align:center;
    float:left;
}
hr{
    background-color:white;
    
    height:.01em;
    
    width: 40%;
    
    margin-top: 2%;
    margin-left: 25%;
}
footer{
    
    width: 100%;
    height: 54%;

    background-color: maroon;
    float:left;
}

#container{
    display: flex;
    width: 60%;
    height: 40%;
    /*background-color: white;*/
    
    margin-left: 25%;
    margin-right: 15%;
    margin-top: 5%;
    
    align-content: center;
    
    flex-direction: row;

    justify-content: center;

}
.content{
    
    
    /*background-color: black;*/
    
    align-self: center;
    
    display: flex;
     
     flex-grow: 1;   
}
.content:nth-child(1){
    
    /*background-color: black;*/
    
    border-right: 1px solid white;
    
    display: flex;
     
     flex-grow: 1;   
     
     padding-right: 1;
}